@font-face {
  font-family: ember;
  src: url(fonts/ember.ttf);
}
:root {
  --color--primary: #5863f8;
  --text--primary: #003366;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: ember;
  scroll-behavior: smooth;
}

/* width */

::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

