.main {
    height: 100%;
}
.main__heading {
    font-size: 18px;
    padding: 10px 0;
    padding-bottom: 20px;
    color: #444;
}

.main__content {
    height: 100%;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
}

.main__dashboard {
    height: calc(100% - 50px);
}
.main__workList {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}
.main__WorkListHeading {
    display: none;
    font-size: 18px;
    padding: 10px 0;
    padding-bottom: 20px;
    color: #444;
}
@media (max-width: 1000px) {
    .main__content {
        grid-template-columns: calc(100% - 10px);
    }
    .main__workList {
        height: 500px;
        overflow-y: auto;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main__WorkListHeading {
        display: block;
    }
}
.noData__container {
    height: calc(100% - 80px);
}
