.main {
    height: calc(100% - 18px);
}
.main__heading {
    font-size: 18px;
    padding: 10px 0;
    padding-bottom: 20px;
    color: #444;
}

.main__content {
    height: 100%;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
}

.main__dashboard {
    height: calc(100% - 75px);
}
.main__workList {
    height: calc(100% - 75px);
    overflow-y: auto;

}
