.overall {
    height: 100%;
}
.overall__heading {
    font-size: 16px;
    padding: 10px 0;
    padding-bottom: 20px;
    color: #444;
}

main {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    height: 100%;
}

.overall__dashboard {
    height: calc(100% - 95px);
}
.overall__workList {
    height: calc(100% - 95px);
    overflow-y: auto;
}
