.header {
    width: calc(100% - 150px);
    height: 80px;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    user-select: none;
    color: var(--text--primary);
    margin-left: 150px;
}
.header__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__pageHeading {
    font-family: Mulish-black;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 5px;
}
.header__pageSubHeading {
    font-size: 13px;
    color: #888;
    font-family: Mulish-medium;
    font-weight: bold;
}

.header__routes {
    display: flex;
    align-items: center;
}

.header__menu {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text--primary);
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.header__menu:hover {
    font-weight: bold;
}
.is-active {
    color: var(--color--primary);
}





/* @media (max-width: 1100px) {
    .header {
        width: calc(100% - 200px);
    }
} */

@media (max-width: 1024px) {
    .header {
        margin-left: 50px;
    }
}

@media (max-width: 950px) {
    .header {
        width: calc(100% - 50px);
    }
   
}
