.header {
    background: rgb(37, 37, 37);
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    box-shadow: 0 0 5px gray;
    user-select: none;
}

.header__heading {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.header__name {
    font-size: 15px;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__routes {
    display: flex;
    align-items: center;
}

.header__menu {
    cursor: pointer;
    font-size: 14px;
    color: #f4f4f4 !important;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 600;

    /* padding: 10px; */
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.header__menu:hover {
    font-weight: bold;
}
.is-active {
    background: var(--color--primary);
    color: #fff;
}

.header__icons {
    position: relative;
    margin-left: 15px;
    display: flex;
}

.header__icon {
    color: #f4f4f4;
    cursor: pointer;
}
.header__user {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px gainsboro, 0 0 2px gray;
    right: 5px;
    top: 30px;
    min-width: 120px;
}
.header__userItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 1px solid rgb(243, 242, 242);
}
.header__userItem:hover {
    color: #fff;
    background: var(--color--primary);
}
