.list {
    height: 100%;
    margin-left: 50px;
    position: relative;
    overflow-x: hidden;
    padding-right: 20px;
    width: calc(100% - 60px);
}

.list__body {
    padding-top: 15px;
    margin-left: 100px;
}

@media (max-width: 1200px) {
    .list {
        width: calc(100% - 10px);
        margin-left: 10px;
    }
}
@media (max-width: 460px) {
    .list__body {
        margin-left: 30px;
    }
}
